<!-- Full Page Intro -->
<div class="view" data-aos="slide-right" dat-aos-duration="2000">

    <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay
        muted loop>
        <source src="/vid/books.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="mask rgba-black-light">
            <!-- Content -->
            <div class="content-video text-center d-none d-md-block">
                <h1 class="display-5 mb-4 text-warning">
                    <strong>Sell or Buy Books</strong>
                </h1>
                <h4 class="mb-4">
                    <strong class="text-warning">We Provide Online second hand or new book buying and selling
                        services.</strong>
                </h4>
                <h4 class="mb-4 d-none d-md-block">
                    <p class="quote text-capitalize">you can't buy happiness but you can buy books</p>
                </h4>
                <a href="/" class="btn btn-outline-light">Login
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="container text-white mt-md-4">
        <div class="display-4 text-center text-success">Books Services</div>
        <hr>
        <div class="row mt-md-4">
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-truck-pickup fa-3x"></i>
                <h3>Rental books</h3>
                <p>We provide Books for rental price per day basis, You can book a Book or give your books on </p>
            </div>

            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-truck-loading fa-3x"></i>
                <h3>Sell Books</h3>
                <p>Sell Your old Books with us, we provide various kinds of user which are ready to buy old books.</p>
            </div>

            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-cart-plus fa-3x mb-2"></i>
                <h3>Buy Books</h3>
                <p>Buy Second and First hand books from us, we give good amount of discounts and exact value.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container text-white mt-md-4">
        <div class="display-4 text-center text-success">Sports Services</div>
        <hr>
        <div class="row mt-md-4">
            <div class="col-md-6 mb-4 text-center">
                <i class="fas fa-baseball-ball fa-3x"></i>
                <h3>Buy Items</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, mollitia.</p>
            </div>

            <div class="col-md-6 mb-4 text-center">
                <i class="fas fa-table-tennis fa-3x"></i>
                <h3>Sell Second Hand Items</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quae.</p>
            </div>
        </div>
    </div>
</div>