<!-- Full Page Intro -->
<div class="view" data-aos="slide-right" dat-aos-duration="2000">
    <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay
        muted loop>
        <source src="/vid/vi.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="mask rgba-black-light">
            <!-- Content -->
            <div class="content-video text-center d-none d-md-block">
                <h1 class="display-5 mb-4 text-warning">
                    <strong>Sell or Buy Books</strong>
                </h1>
                <h4 class="mb-4">
                    <strong class="text-warning">We Provide Online second hand or new book buying and selling
                        services.</strong>
                </h4>
                <h4 class="mb-4 d-none d-md-block">
                    <p class="quote text-capitalize">you can't buy happiness but you can buy books</p>
                </h4>
                {{#unless user}}
                <a href="/login" class="btn btn-outline-light font-weight-bold">Login
                    <i class="fas fa-sign-in-alt"></i>
                </a>
                {{/unless}}
            </div>
        </div>
    </div>
</div>

<div class="container text-white mt-md-4">
    <div class="display-4 text-center text-success">Book Services</div>
    <hr>
    <div class="row mt-md-4">
        <div class="col-md-4 mb-4 text-center">
            <i class="fas fa-truck-pickup fa-3x"></i>
            <h3>Rental books</h3>
            <p>We provide Books for rental price per day basis, You can book a Book or give your books on </p>
        </div>

        <div class="col-md-4 mb-4 text-center">
            <i class="fas fa-truck-loading fa-3x"></i>
            <h3>Sell Books</h3>
            <p>Sell Your old Books with us, we provide various kinds of user which are ready to buy old books.</p>
        </div>

        <div class="col-md-4 mb-4 text-center">
            <i class="fas fa-cart-plus fa-3x mb-2"></i>
            <h3>Buy Books</h3>
            <p>Buy Second and First hand books from us, we give good amount of discounts and exact value.</p>
        </div>
    </div>
</div>

<hr>

<div class="parallax1 d-none d-md-block">
    <div class="container">
        <div class="content-image text-center">
            <h4 class="text-capitalize text-light">Register with us to take books on rental, sell or buy.</h4>
            {{#unless user}}
            <a href="/register" class="btn btn-success font-weight-bold">Register
                <i class="fa fa-registered" aria-hidden="true"></i>
            </a>
            {{/unless}}
        </div>
    </div>
</div>
<hr>

<div class="container text-white mt-md-4">
    <div class="display-4 text-center text-success">Sports Services</div>
    <hr>
    <div class="row mt-md-4">
        <div class="col-md-6 mb-4 text-center">
            <i class="fas fa-baseball-ball fa-3x"></i>
            <h3>Buy Items</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati, mollitia.</p>
        </div>

        <div class="col-md-6 mb-4 text-center">
            <i class="fas fa-table-tennis fa-3x"></i>
            <h3>Sell Second Hand Items</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quae.</p>
        </div>
    </div>
</div>

<div class="animation">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,200,255,0.7)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(200,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,100,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#52de97" />
            <use xlink:href="#gentle-wave" x="48" y="10" fill="#c70d3a" />
        </g>
    </svg>

</div>

<section id="authors" class="my-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="info-header mb-5">
                    <h1 class="text-info font-weight-bold pb-3">
                        Meet the Authors
                    </h1>
                    <p class="text-dark h4">
                        These are some of the Top Person of maruko and of our website. This author are very popular for
                        their
                        publications.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <img src="img/img2.jpg" alt="" class="img-fluid top rounded-circle w-50 mb-3">
                        <h3>siksha</h3>
                        <h5 class="text-muted">Lead-Writer</h5>
                        <p>
                            Siksha is famous for her very popular publications like "Chal Chalo Tum", "Zindagi chalte
                            chalte", "Rahi
                            Bhatak Gaye Tum"
                        </p>
                        <div class="d-flex justify-content-center">
                            <div class="p-4">
                                <a href="http://facebook.com">
                                    <i class="fab fa-facebook" aria-hidden="true"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://twitter.com"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://linkedin.com"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <img src="img/img1.jpg" alt="" class="img-fluid top rounded-circle w-50 mb-3">
                        <h3>Angela</h3>
                        <h5 class="text-muted">Lead-Instructor</h5>
                        <p>Angela is very famous for her teaching methodology. she is famous for her teaching of web,
                            ios and
                            android devlopment.</p>
                        <div class="d-flex justify-content-center">
                            <div class="p-4">
                                <a href="http://facebook.com">
                                    <i class="fab fa-facebook" aria-hidden="true"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://twitter.com"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            </div>
                            <div class="p-4">
                                <a href="http://linkedin.com"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonial" class="bg-info p-4 text-dark">
    <div class="container">
        <h2 class="text-center">Testimonials</h2>
        <div class="row text-center">
            <div class="col">
                <div class="slider">
                    <div>
                        <blockquote class="blockquote">
                            <p class="mb-0">
                                This website is very good to get freelancing photographers in weeding or any
                                kind of
                                personal shooting.
                            </p>
                            <footer class="blockquote-footer">
                                sri hari narayan
                                <cite class="company-1">500px</cite>
                            </footer>
                        </blockquote>
                    </div>

                    <div>
                        <blockquote class="blockquote">
                            <p class="mb-0">
                                This website is awesome for getting photographers of anykind and they will also
                                respond to anykind of your complaints.
                            </p>
                            <footer class="blockquote-footer">
                                sri narayan
                                <cite class="company-1">pininterest</cite>
                            </footer>
                        </blockquote>
                    </div>

                    <div>
                        <blockquote class="blockquote">
                            <p class="mb-0">
                                very skillfull professional photographers are here.
                            </p>
                            <footer class="blockquote-footer">
                                sri hari
                                <cite class="company-1">tumblr</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>