<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-lg-3 mt-4">
            <div class="card">
                <div>
                    <img src="/img/0.jpeg" width="300" class="img-fluid book-img">
                </div>
                <div class="card-body text-center text-dark">
                    <p class="h4 text-danger">Half Girlfriend</p>
                    <p class="h5">chetan bhagat</p>
                    <p class="text-success">₹ 23423.234</p>
                </div>
            </div>
        </div>
    </div>
</div>