<form action="/books/sell" method="post" enctype="multipart/form-data"  class="book-Sell">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="card">
                    <div class="card-header font-weight-bold text-center">
                        Book Details
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Book Name</label>
                            <input type="text" id="name" name="name" class="form-control"
                                placeholder="Enter the book name" required>
                            <div class="alert alert-danger d-none" id="name-feedback--bookSell"></div>
                        </div>
                        <div class="form-group">
                            <label for="authname">Author and Edition of Book</label>
                            <input type="text" id="authname" name="authname" class="form-control"
                                placeholder="Enter the book name" required>
                            <div class="alert alert-danger d-none" id="author-feedback--bookSell"></div>
                        </div>
                        <label for="section">Choose Branch of Book</label>
                        <select class="custom-select mb-2" name="section" class="fieldRequired" id="section">
                            <option value="C.S.E">C.S.E</option>
                            <option value="I.S.E">I.S.E</option>
                            <option value="Mech">Mech</option>
                            <option value="Civil">Civil</option>
                            <option value="E.C.E">E.C.E</option>
                            <option value="E.E.E">E.E.E</option>
                            <option value="C.T.M">C.T.M</option>
                            <option value="Marine">Marine</option>
                            <option selected value="others">others</option>
                        </select>
                        <div class="form-group text-white">
                            <label for="uploadPic" class="text-dark">Upload Book Picture</label>
                            <input type="file" class="form-control-file" id="uploadPic"
                                accept="image/gif, image/jpeg, image/png" name="book_pic" required>
                            <div class="alert alert-danger d-none" id="image-feedback--bookSell"></div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" id="description"
                                placeholder="Enter a Brief Description about Book" required></textarea>
                            <div class="alert alert-danger d-none" id="description-feedback--bookSell"></div>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="number" id="price" name="price" placeholder="Price you charge for it."
                                class="form-control" required>
                                <div class="alert alert-danger d-none" id="price-feedback--bookSell"></div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-sm-6">
                                <input type="submit" value="Submit" class="btn btn-success mb-4 btn-block"
                                    id="submit-button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>